BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Middle
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: CaseInsensitive
